@import "/fonts/gilroy-font.css";
.hero {
  min-height: 70vh;
  background-image: url("./assets/images/heroBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 425px) {
  .hero {
    min-height: 50vh;
  }
}
.container {
  max-width: 1400px;
  margin: 1rem auto;
  /* padding: 2rem; */
}
* {
  font-family: "Gilroy", sans-serif;
}
header .container {
  justify-content: space-between;
}
@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
@media (max-width: 768px) {
  .change_lang {
    display: flex;
  }
}
@media (max-width: 425px) {
  .change_lang {
    align-items: center;
    font-size: 14px;
    padding: 11px 15px;
  }
  .logo_menu_wrapper {
    gap: 0;
  }
  .logo {
    margin-inline: 5px;
  }
}
@media (max-width: 320px) {
  .hero-btn {
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 916px) {
  .advantages .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.ctaSection .container {
  background-image: url("./assets/images/sectionBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-top: 96px;
  min-height: 600px;
}
.dezinfeksiyaCard,
.deziseksiyaCard,
.deratizatsiyaCard {
  background-image: url("./assets/images/dezinfeksiyachiImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 270px;
  max-width: 31%;
  padding: 20px;
  color: #fff;
  border-radius: 19px;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
}
.deziseksiyaCard {
  background-image: url("./assets/images/dezinseksiyaImg.png");
}
.deratizatsiyaCard {
  background-image: url("./assets/images/deratizatsiyaImg.png");
}
@media (max-width: 900px) {
  .services .container {
    flex-direction: column;
    align-items: stretch;
    /* justify-content: center; */
  }
  .dezinfeksiyaCard,
  .deziseksiyaCard,
  .deratizatsiyaCard {
    flex-grow: 1;
    max-width: 100%;
    h4 {
      align-self: flex-start;
    }
  }
}
@media (max-width: 425px) {
  .dezinfeksiyaCard,
  .deziseksiyaCard,
  .deratizatsiyaCard {
    gap: 10rem;
    font-size: 18px;
  }
  .servicetypeimg:last-of-type {
    display: none;
  }
}
.cta-txt {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 45px;
  &::after {
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    border-radius: 50px;
    background-color: #99D7E4;
    margin-top: 8px;
  }
}
.serviceType {
  flex-basis: 450px;
}
@media (max-width: 1024px) {
  .corporationCtaSection {
    flex-wrap: wrap;
    justify-content: center;
    img {
      display: none;
    }
  }
  .ctasection_rightside_contents_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.faqs {
  
}